:root{
    --backgroundPurple:#1b1c2c;
    --cardBackgroundColor:#5c1e70;
    --soulColor:#427866;
    --text:#040404;
}

/*
https://icolorpalette.com/imagepalette/color-palette-ideas-from-violet-purple-organism-image
*/