:root{
    --backgroundColor:#0e0c0c;
    --actionSlotColor:rgb(131, 130, 130);
    
    --cardBackgroundColor:#2a2929;
    --cardBackgroundFadeColor:#4e4c4c;
    --cardBackgrongdFadeDarkColor:#070606;
    --cardBorderColor:#000000;
    --bloodColor:#c20a0a;

    --text:#ffffff;
}

/*
https://icolorpalette.com/imagepalette/color-palette-ideas-from-violet-purple-organism-image
*/