@import url('../fonts/loadfont.css');
@import url("../colorPalette.css");

*{
    font-family: MainFont;
    font-weight: 400;
    cursor: pointer;
}

body{
    font-family: MainFont;
    background-color: rgb(102, 102, 102);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section { /* Different sections to simulate page changes, while still staying on the same page */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    overflow: hidden;
}
section.onscreen {
    display: block;
    
}

.backgroundDiv{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000;
    z-index: 2;
    pointer-events: none;
}

body::-webkit-scrollbar,section::-webkit-scrollbar {
    display: none;
  }


/*Card styling*/
.card, .highlightCard{
    background-color: rgb(92, 84, 56);
    width:120px;
    height:180px;
    border-radius: 20px;
    border: 10px solid rgb(17, 17, 17);
}

.highlightCard{
    position: absolute;
    z-index: 10; 
    text-align: center;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

.card{
    vertical-align: top;
}

.name{
    font-size: 2em;
    height: 20px;
    width: 100%;
}

.damage{
    bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: rgb(110, 30, 30);
}

.health{
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: rgb(88, 149, 69);
}

.cost{
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left: 5px;
    
}

.cost .blood{
    width: 10px;
    background-color: rgb(105, 24, 24);
    border-radius: 3px;
    border: 3px solid black;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 -6px 0 0;
}

.description{
    position: absolute;
    top: 70px;
    font-size: 2em;
    width: 100%;
}

/*UI for joing server*/

#joinServerPage{
    position: absolute;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 102,0);
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000;
    background-color: rgb(92, 92, 92);
    text-align: center;
}

#joinServerPage div{
    position: relative;
    background-color: red;
    width:500px;
    height: 100px;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#joinServerPage input{
    width: 100px;
    height:100%;
  
    font-size: 1.5em;  
}

#joinServerPage button{
    padding:160px;
    font-size: 3em;  
}

#joinServerPage #loginErrorText{
    margin: 30px 0 0 0;
    width: 100%;
    font-size: 2em;
}

/*The Card shop*/
#cardShop{
    text-align: center;
    
}

#cardShop #cardShopHeader{
    font-size: 5em;
    margin-top: 70px;
    border-bottom: 3px solid black;
}

#cardShop #itemPage{
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    left:20%;
    width: 80%;
    height: 180px;
}

#cardShop #storeCurrencyHolder{
    position: absolute;
    bottom:10%;
    left:5%;
   
}

#cardShop #storeCurrencyHolder .currency{
    background-color: rgb(105, 24, 24);
    border-radius: 50%;
    border: 5px solid black;
    width: 60px;
    height: 60px;
    margin: 5px 0 0 0;
    transform: translateX(-50%);
}

/*For selecting cards*/
#cardSelectionPage{
    position: absolute;
    top:-100%;
    left:0;
    z-index: 5;
    width:100%;
    height:100%;
    background-color: rgb(92, 92, 92);
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000, 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000, 0px 0px 500px 100px #000000;
    text-align: center;

    transition: left 0.5s;
   
}
#cardSelectionPage h1{
    font-size: 6em;
    margin: 70px 0 0 0;
}
#cardSelectionPage #cardPickZone{
    position: absolute;
    margin-top: 0;
    width:100%;
}

#cardSelectionPage .card{
    position: relative;
    display: inline-block;
    margin: 20px;
    opacity: 1;
    transition: opacity 0.3s linear, margin 0.75;
    -webkit-transition: opacity 0.3s linear;
    transition-timing-function: cubic-bezier(0,.95,.25,1); 
}

#cardSelectionPage .card:hover{
    transform: scale(1.05);
}

#selectedCards{
    position: fixed;
    bottom:40px;
    width:100%;
    height: 200px;
    background-color: rgba(41, 41, 41, 0);
    text-align: center;
    z-index: 3;
    display: none;
}

#selectedCards .card{
    position: relative;
    top:0px;
    
    display: inline-block;
    margin: 0 0 0 -60px;


    transition: bottom 0.2s, margin 0.75s, box-shadow 0.4s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#selectedCards .card:hover{
    top:-20px;
    margin: 0 45px 0 -15px;
    z-index: 1;
}

/*For playing cards*/
#actionSlots{
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;
    height: 200px;
    text-align: center;
}

#actionSlots .cardSlot{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 180px;
    margin:0 20px 0 20px;

    border-radius: 20px;
    border: 10px solid rgb(78, 78, 78);
    background-color: rgb(129, 128, 126);

    transition: border 1s, transform 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
    
}

#actionSlots .card{
    position: relative;
    display: inline-block;
    margin:0 40px 0 40px;
    transition: border 1s, transform 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#actionSlots .card:hover{
    transform: scale(1.05);
}

#actionSlots .cardSlot .card{
    position: absolute;
    top:0px;
    margin: -10px -60px;

    transition: top 0.5s linear, opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#actionSlots .cardSlot:hover{
    transform: scale(1);
}

#actionSlots .waitTingForTurn{
    font-size: 5em;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*For the hand*/
#handPoint{
    position: absolute;
    bottom:40px;
    width:100%;
    height: 200px;
    background-color: rgba(41, 41, 41, 0);
    text-align: center;
    z-index: 3;
    display: none;
}

#handPoint .card{
    position: relative;
    top:0px;
    
    display: inline-block;
    margin: 0 0 0 -60px;


    transition: bottom 0.2s, margin 0.75s, box-shadow 0.4s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#handPoint .card:hover{
    top:-20px;
    margin: 0 45px 0 -15px;
    z-index: 1;
}


/* Other elements*/
#endTurnBtn{
    position: absolute;
    z-index: 4;
    background-color: rgb(182, 177, 177);
    color:rgb(116, 30, 30);
    font-size: 3em;
    width:150px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    bottom:20px;
    right: 20px;
    display: none;
}

#endTurnBtn:hover{
transform: scale(1.05);
}

#sacrificeCardBtn{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    font-weight: bold;
    z-index: 4;

    padding: 10px;
    bottom:20px;
    left: 40px;
    
    background-color: rgb(182, 177, 177);
    color:rgb(116, 30, 30);
    
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: none;
}

#bloodLevel{
    position: absolute;
    bottom:150px;
    left:75px;
    display: none;
}

#bloodLevel .blood{
    background-color: rgb(105, 24, 24);
    border-radius: 5px;
    border: 5px solid black;
    width: 50px;
    height: 50px;
    margin: 5px 0 0 0;
    transform: translateX(-50%);
}

#sacrificeCardBtn{
    position: absolute;  
}


.displaying {
    display: block !important;
}

/* end screens*/
#youWin,#youLose {text-align: center; font-size: 4em;}
#youWin h1,#youLose h1{margin-top: 50vh;}

