@import url('../fonts/loadfont.css');
@import url("../colorPalette.css");
@import url("../cardDesign.css");

*{
    font-family: MainFont;
    color: var(--text);
    font-weight: 400;
    cursor: pointer;
}

body{
    font-family: MainFont;
    background-color: var(--backgroundColor);
    
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section { /* Different sections to simulate page changes, while still staying on the same page */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    overflow: hidden;
}
section.onscreen {
    display: block;
    
}

.backgroundDiv{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000;
    z-index: 2;
    pointer-events: none;
}

body::-webkit-scrollbar,section::-webkit-scrollbar {
    display: none;
  }

#playerName{
    position: absolute;
    z-index:10;
    font-size: 2em;
    left:20px;
    top:20px;
    
}

/*Card styling*/


/*The Card shop*/
#cardShop{
    text-align: center;
    overflow-y: scroll;
}

#cardShop #cardShopHeader{
    font-size: 5em;
    margin-top: 70px;
    border-bottom: 3px solid #fff;
}

#cardShop #itemPage{
    position: absolute;
    z-index: 1;
    width: 100%;
}

#cardShop #itemPage .shelf{
    position: relative;
    margin: 50px 0;
    width:100%;
}

#cardShop #itemPage .shelf .shelfHeader{
    position: relative;
    text-align: center;
    font-size: 4em;
    width:100%;
}

#cardShop #itemPage .shelf .shelfTextDiv{
    position: relative;
    font-size: 4em;
    line-height: 200px;
    width:30px;
    display: inline !important;  
}

#cardShop #itemPage .shelf .card{
    position: relative !important;
    display: inline-block !important;
    margin: 0 20px 40px 20px;
}

#cardShop #cardShopDeck{
 position: absolute;
 text-align: center;
 left:0;
 bottom: 20px;
 width: 100%;
 z-index: 10;
}



#cardShop #cardShopDeck .card{
    position: relative !important;
    display: inline-block !important;
    margin: 0 0 0 -60px;

    transition: bottom 0.2s, margin 0.75s, box-shadow 0.4s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);

}

#cardShop #cardShopDeck .card:hover{
    top:-20px;
    margin: 0 45px 0 -15px;
    z-index: 6;
}

#cardShop .card{
    transition: transform 0.3s cubic-bezier(0,.95,.25,1); 
    -webkit-transition: transform 0.3s cubic-bezier(0,.95,.25,1); 
}

#cardShop .card:hover{
    transform: scale(1.05);
}

/*For selecting cards*/
#cardSelectionPage{
    position: absolute;
    top:-100%;
    left:0;
    z-index: 5;
    width:100%;
    height:100%;
    background-color: rgb(92, 92, 92);
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000, 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000, 0px 0px 500px 100px #000000;
    text-align: center;

    transition: left 0.5s;
   
}
#cardSelectionPage h1{
    font-size: 6em;
    margin: 70px 0 0 0;
}
#cardSelectionPage #cardPickZone{
    position: absolute;
    margin-top: 0;
    width:100%;
}

#cardSelectionPage .card{
    position: relative;
    display: inline-block;
    margin: 20px;
    opacity: 1;
    transition: opacity 0.3s linear, margin 0.75;
    -webkit-transition: opacity 0.3s linear;
    transition-timing-function: cubic-bezier(0,.95,.25,1); 
}

#cardSelectionPage .card:hover{
    transform: scale(1.05);
}


/*For playing cards*/
#actionSlots{
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;
    height: 200px;
    text-align: center;
}

#actionSlots .cardSlot{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 200px;
    margin:0 20px 0 20px;

    border-radius: 5px;
    border: 5px solid var(--actionSlotColor);

    transition: border 1s, transform 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
    
}

#actionSlots .card{
    position: relative;
    display: inline-block;
    margin:0 40px 0 40px;
    transition: border 1s, transform 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#actionSlots .card:hover{
    transform: scale(1.05);
}

#actionSlots .cardSlot .card{
    position: absolute;
    top:0px;
    margin: -5px -60px;

    transition: top 0.5s linear, opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#actionSlots .cardSlot:hover{
    transform: scale(1);
}

#actionSlots .waitTingForTurn{
    font-size: 5em;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*For the hand*/
#handPoint{
    position: absolute;
    bottom:40px;
    width:100%;
    height: 200px;
    background-color: rgba(41, 41, 41, 0);
    text-align: center;
    z-index: 3;
    display: none;
}

#handPoint .card{
    position: relative;
    top:0px;
    
    display: inline-block;
    margin: 0 0 0 -60px;


    transition: bottom 0.2s, margin 0.75s, box-shadow 0.4s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#handPoint .card:hover{
    top:-20px;
    margin: 0 45px 0 -15px;
    z-index: 6;
}


/* Other elements*/
#endTurnBtn{
    position: absolute;
    z-index: 4;
    background-color: rgb(182, 177, 177);
    color:rgb(116, 30, 30);
    font-size: 3em;
    width:150px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    bottom:20px;
    right: 20px;
    display: none;
}

#endTurnBtn:hover{
transform: scale(1.05);
}

#sacrificeCardBtn{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    font-weight: bold;
    z-index: 4;

    padding: 10px;
    bottom:20px;
    left: 40px;
    
    background-color: rgb(182, 177, 177);
    color:rgb(116, 30, 30);
    
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: none;
}

#bloodLevel{
    position: absolute;
    bottom:150px;
    left:75px;
    display: none;
    z-index: 12;
}

#bloodLevel .blood{
    background-color: var(--bloodColor);
    background-size: 50px;

    
    mask-image: url('../assets/blood.svg');
    mask-size: 50px;
    -webkit-mask-image: url('../assets/blood.svg');
    -webkit-mask-size: 50px;

    width: 50px;
    height: 50px;
    margin: 5px 0 0 0;
    transform: translateX(-50%);
}

#sacrificeCardBtn{
    position: absolute;  
}


.displaying {
    display: block !important;
}

/* end screens*/
#youWin,#youLose {text-align: center; font-size: 4em;}
#youWin h1,#youLose h1{margin-top: 50vh;}

