@import url('../fonts/loadfont.css');

*{
    font-family: MainFont;
    font-weight: 400;
    cursor: pointer;
}

body{
    font-family: MainFont;
    background-color: rgb(102, 102, 102);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section { /* Different sections to simulate page changes, while still staying on the same page */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    overflow: hidden;
}
section.onscreen {
    display: block;
    
}

.backgroundDiv{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 102,0);
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000;
    z-index: 2;
    pointer-events: none;
}

body::-webkit-scrollbar,section::-webkit-scrollbar {
    display: none;
  }

.card{
    background-color: rgb(92, 84, 56);
    width:120px;
    height:180px;
    border-radius: 20px;
    border: 10px solid black;
}

#joinServerPage{
    position: absolute;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 102,0);
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000;
    background-color: rgb(92, 92, 92);
    text-align: center;
}

#joinServerPage div{
    position: relative;
    background-color: red;
    width:500px;
    height: 100px;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#joinServerPage input{
    width: 100px;
    height:100%;
  
    font-size: 1.5em;  
}

#joinServerPage button{
    padding:160px;
    font-size: 3em;  
}

#joinServerPage #loginErrorText{
    margin: 30px 0 0 0;
    width: 100%;
    font-size: 2em;
}

/*For selecting cards*/
#cardSelectionPage{
    position: absolute;
    top:-100%;
    left:0;
    z-index: 5;
    width:100%;
    height:100%;
    background-color: rgb(92, 92, 92);
    -webkit-box-shadow: inset 0px 0px 500px 100px #000000, 0px 0px 500px 100px #000000; 
    box-shadow: inset 0px 0px 500px 100px #000000, 0px 0px 500px 100px #000000;
    text-align: center;

    transition: left 0.5s;
   
}
#cardSelectionPage h1{
    font-size: 6em;
    margin: 70px 0 0 0;
}
#cardSelectionPage #cardPickZone{
    position: absolute;
    margin-top: 0;
    width:100%;
}

#cardSelectionPage .card{
    position: relative;
    display: inline-block;
    margin: 20px;
    opacity: 1;
    transition: opacity 0.3s linear, margin 0.75;
    -webkit-transition: opacity 0.3s linear;
    transition-timing-function: cubic-bezier(0,.95,.25,1); 
}

#cardSelectionPage .card:hover{
    transform: scale(1.05);
}

#selectedCards{
    position: fixed;
    bottom:40px;
    width:100%;
    height: 200px;
    background-color: rgba(41, 41, 41, 0);
    text-align: center;
    z-index: 3;
    display: none;
}

#selectedCards .card{
    position: relative;
    top:0px;
    
    display: inline-block;
    margin: 0 0 0 -60px;


    transition: bottom 0.2s, margin 0.75s, box-shadow 0.4s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#selectedCards .card:hover{
    top:-20px;
    margin: 0 45px 0 -15px;
    z-index: 1;
}

/*For playing cards*/
#actionSlots{
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;
    height: 200px;
    text-align: center;
}

#actionSlots .cardSlot{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 180px;
    margin:0 20px 0 20px;

    border-radius: 20px;
    border: 10px solid rgb(78, 78, 78);
    background-color: rgb(129, 128, 126);

    transition: border 1s, transform 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
    
}

#actionSlots .card{
    position: relative;
    display: inline-block;
    margin:0 20px 0 20px;
    transition: border 1s, transform 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#actionSlots .card:hover{
    transform: scale(1.05);
}

#actionSlots .cardSlot .card{
    position: absolute;
    top:0px;
    margin: -10px -60px;

    transition: top 0.5s linear, opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#actionSlots .cardSlot:hover{
    transform: scale(1);
}

#actionSlots .waitTingForTurn{
    font-size: 5em;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*For the hand*/
#handPoint{
    position: absolute;
    bottom:40px;
    width:100%;
    height: 200px;
    background-color: rgba(41, 41, 41, 0);
    text-align: center;
    z-index: 3;
    display: none;
}

#handPoint .card{
    position: relative;
    top:0px;
    
    display: inline-block;
    margin: 0 0 0 -60px;


    transition: bottom 0.2s, margin 0.75s, box-shadow 0.4s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

#handPoint .card:hover{
    top:-20px;
    margin: 0 45px 0 -15px;
    z-index: 1;
}

.card{
    vertical-align: top;
}

.name{
    font-size: 2em;
    height: 20px;
    width: 100%;
}

.damage{
    bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: rgb(110, 30, 30);
}

.health{
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: rgb(88, 149, 69);
}

.cost{
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    right: 5px;
    
}

.cost .blood{
    width: 10px;
    background-color: rgb(105, 24, 24);
    border-radius: 3px;
    border: 3px solid black;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0 0 -5px;
}

.description{
    position: absolute;
    top: 60px;
    font-size: 2em;
    width: 100%;
}

.highlightCard{
    position: absolute;
    z-index: 10;
    width:120px;
    height:180px;
    border-radius: 20px;
    border: 10px solid black;
    background-color: rgb(92, 84, 56);
    
    text-align: center;
    /*transform: translateX(-25%);*/
    
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0,.95,.25,1);
}

/* Other elements*/
#endTurnBtn{
    position: absolute;
    z-index: 4;
    background-color: rgb(182, 177, 177);
    color:rgb(116, 30, 30);
    font-size: 3em;
    width:150px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    bottom:20px;
    right: 20px;
    display: none;
}

#endTurnBtn:hover{
transform: scale(1.05);
}

.displaying {
    display: block !important;
}

/* end screens*/
#youWin,#youLose {text-align: center; font-size: 4em;}
#youWin h1,#youLose h1{margin-top: 50vh;}

